.container {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  .checkbox {
    width: 15px;
    height: 15px;
  }

  .title {
    font-size: 18px;
  }

  .delete {
    font-size: 20px;
    color: #f15f5f;

    :hover {
      color: #9f3d3d;
    }

  }
}