
.todos {
    margin-top: 20px;
    width: 100%;
}

.createTodo{
    margin-left: auto;
    margin-right: auto;
    //display: block;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}