@import "src/scss/vars";

.button {
  background: $accent-bg;
  border-radius: 25px;
  padding: 10px 50px;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  //height: 55px;
  border-bottom: 6px solid $accent-bg-hover;
  color: $accent-text;

  svg {
    margin-right: 10px;
  }

  &:hover {
    transform: translateY(4px);
    margin-bottom: 4px;
    border-bottom: 2px solid $accent-bg-hover;
    //background: $accent-bg-hover;
  }
}