
.logo {
  padding-top: 18px;
  text-align: center;
  color: #C44747;
  font-size: 32px;
  line-height: 40px;
  margin-bottom: 40px;
}

.buttons {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 500px;

  button {
    padding: 10px 20px;
    background: #E93C3C;
    border-radius: 25px;
    border: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;

    color: #FFF8EE;

  }
}