
//$accent-bg: #F85959;
//$accent-text: #FFF8EE;
//
//$default-bg: #FFF8EE;
//$default-text: #F85959;
//
//$timer-bg: #6e6e6e;
//$timer-line-pomodoro: #F85959;
//$timer-line-break: #4eff2a;

$accent-bg: #F85959;
$accent-text: #FFF8EE;

$default-bg: #FFF8EE;
$default-text: #F85959;

$timer-bg: #6e6e6e;
$timer-line-pomodoro: #F85959;
$timer-line-break: #4eff2a;
